.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to left, #0c0c0c, #1e3ac6, #0e0e0e);
  position: relative;
  overflow: hidden;
}

.logoContainer {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; 
}

.backgroundText {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1); 
  white-space: nowrap;
  z-index: 0;
  user-select: none;
  pointer-events: none;
}

.loginBox {
  position: relative;
  z-index: 2;
  margin-top: 50px;;
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 410px;
  width: 90%;
  backdrop-filter: blur(10px);
}

.loginTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
  font-weight: bold;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginLabel {
  margin-bottom: 6px;
  font-size: 14px;
  color: #444;
}

.loginInput {
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.loginInput:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.loginError {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.loginButton {
  background-color: #0070f3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #005ec4;
}
.passwordWrapper {
  position: relative;
  width: 100%;
}

.passwordWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.passwordWrapper input {
  width: 100%;
  padding-right: 50px; 
  box-sizing: border-box;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
  z-index: 2;
}
.infoBox {
  background-color: rgb(206, 43, 43);
  border: 1px solid #0a0a0a;
  padding: 15px;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}